.contenedorComponente {
    display: flex;
}

.contenedorFiltros {
    width: 25%;
    margin-top: 25px;
}

.filtros {
    display: flex;
    justify-content: center;
}

.contenedorPadre {
    display: flex;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 20px 0px;
    gap: 20px;
    flex-wrap: wrap;
}

/*Si hay filtro*/
.contenedorCartaConFiltros {
    display: flex;
    min-width: 30%;
    min-height: 325px;
    max-width: 30%;
    max-height: 325px;
    background-color: white;
    border-radius: 15px;
}

/*Si no hay filtro*/
.contenedorCarta {
    display: flex;
    margin: auto;
    min-width: 23%;
    max-width: 23%;
    min-height: 325px;
    max-height: 325px;
    background-color: white;
    border-radius: 15px;
}

.contenedorCarta:hover {
    cursor: pointer;
    transform: scale(1.03);
}

.carta {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow: hidden;
    white-space: nowrap;
    padding: 10px 0px;
    width: 90%; 
    max-width: 90%;
    margin: 0px auto;
}

.carta h1 {
    font-size: 20px;
}

.carta img {
    min-width: 150px;
    min-height: 150px;
    max-width: 150px;
    max-height: 150px;
}

.divImagen {
    display: flex;
    justify-content: center;
    width: 100%;
}

.precioYSvg {
    position: relative;
    top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.precioYSvg svg {
    height: 16px;
    width: 16px;
}

.precio {
    font-weight: 600;
}

.estado {
    font-weight: 600;
    color: gray;
}

.divBoton {
    display: flex;
    margin-top: 10px;
    width: 100%;
}

.botonDesactivado {
    width: 100%;
    height: 30px;
    font-size: 15px;
    font-weight: 700;
    border: none;
    color: white;
    background-color: rgba(255, 166, 0, 0.582);
}

.botonActivado {
    width: 100%;
    height: 30px;
    font-size: 15px;
    font-weight: 700;
    border: none;
    color: white;
    background-color: orange;
    cursor: pointer;
}

.botonActivado:hover {
    cursor: pointer;
    transform: scale(1.01);
}