.divFiltroPaginadoRangoPrecio {
    display: flex;
    justify-content:space-between;
    margin: 0px 30px;
}

.botonFiltro {
    justify-content: center;
    width: 100px;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 15px;
    border: none;
    background-color: white;
    cursor: pointer;
}

.botonFiltro:hover {
    border: 1px solid black;
}

.svgFiltro {
    height: 15px;
    width: 20px;
    margin-right: 5px;
}

.divSelectPrecioYSvg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.divSelectPrecioYSvg select {
    border: none;
    background-color: white;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 16px;
    cursor: pointer;
}

.svgSelect {
    height: 20px;
    margin-right: 5px;
    margin-bottom: 22px;
}

.contenedorCard { 
    background-color: rgba(229 231 235);
    max-width: 100%;
    flex-wrap: wrap;
}