.table {
  display: table;
  width: 100%;
  margin-left: 150px;
}

.thead {
  background-color: rgb(243 244 246);
  border-bottom-width: 2px;
  border-color: rgb(229 231 235);
}

.th {
  border-width: 1px;
  border-color: rgb(209 213 219);
  padding: 16px;
  font-size: 14px;
  line-height: 20px; 
  font-weight: 600;
  letter-spacing: 0.025em;
  text-align: center;
}

tr:nth-child(even) {
  background-color: rgb(203 213 225);
  
}
tr:nth-child(odd) {
  background-color: rgb(148 163 184);
}

.td {
  border-width: 1px;
  border-color: rgb(229 231 235);
  padding: 12px;
  font-size: 14px;
  line-height: 20px;
  color: black;
}

.svg {
  height: 20px;
  width: 30px;
  cursor: pointer;
}

.spinner {
  margin-top: 50px;
  margin-left: 600px;
  width: 100%;
  height: 20vh;
}