.principal {
  display: flex;
  justify-content: center;
}

.contenedorImagen {
    margin-left: 35px;
    border-radius: 9999px;
    height: 270px;
    width: 270px;
}

.contenedorImagen img {
    height: 270px;
    width: 270px;
    border-radius: 9999px;
}

.contenedorDatos {
  display: flex;
  align-items: center;
}

.contenedorDatos p {
  font-size: 20px;
  font-weight: 600;
  border-bottom: 1px solid black;
}

.contenedorDatos i {
  margin-left: 10px;
  font-size: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form input {
  background-color: whitesmoke;
  width: 300px;
  height: 30px;
  margin-bottom: 20px;
  font-size: 17px;
  border: none;
  align-items: center;
}

.button {
  margin-top: 10px;
  width: 305px;
  height: 35px;
  font-size: 17px;
  cursor: pointer;
  font-weight: 600;
  color: white;
  background-color: green;
  border: none;
}

.linkUrl {
  text-decoration: none;
}

.volver {
  margin-left: 10px;
  margin-top: 10px;
  font-weight: 700;
  color: rgb(75, 64, 64);
  display: inline-flex;
}

.contenedorImagen2 {
  margin-right: 20px;
}

.contenedorImagen2 img {
  height: 270px;
  width: 270px;
  border-radius: 9999px;
}

.row {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}